/***********Top**************/
.top {
  width: 100%;
  background-color: #f7f5f1;
  padding: 20px 0 100px 0;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu--logo {
  cursor: pointer;
}
.menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
}
.menu ul li a {
  color: #2d3958;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
.auth {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  position: relative;
}
.auth input{
  position: absolute;
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  top:5px;
  right:120px;
  display: none;
  transform: translateX(50px);

}

.introduce {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.introduce--text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-top: 200px;
}
.introduce--text__br2 {
  display: none;
}

.introduce--text p {
  margin-top: 40px;
}
.introduce--text button {
  margin-top: 70px;
}
.introduce--image {
  position: relative;
  margin-top: 100px;
}
.introduce--image .introduce-img0 {
  width: 100%;
  height: auto;
}

.introduce-img1 {
  position: absolute;
  width: 100px;
  height: auto;
  right: 0%;
  top: 5%;
}
.introduce-img2 {
  position: absolute;
  width: 70px;
  height: auto;
  bottom: 10%;
  left: -20%;
}
.introduce-img3 {
  position: absolute;
  width: 20px;
  height: auto;
  top: 0;
  left: -150%;
}
.introduce-img4 {
  position: absolute;
  width: 30px;
  height: auto;
  top: 0;
  left: 0;
}
.introduce-img__tobot {
  position: absolute;
  cursor: pointer;
  width: 80px;
  height: auto;
  bottom: -140px;
  left: 50%;
  transform: translateX(-50%);
}
.gadien-text {
  background: -webkit-linear-gradient(#857fff, #ffc0ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

@media screen and (max-width: 1024px) {
  .introduce {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .introduce--text {
    text-align: center;
    align-items: center;
    margin-top: 100px;
  }
  .introduce-img0 {
    width: 300px;
    height: auto;
  }
  .introduce--text__br1 {
    display: none;
  }
  .introduce--text__br2 {
    display: block;
  }
}
.icon-open {
  display: none;
  font-size: 28px;
  margin-right: 20px;
}
.menu--active{
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: tomato;
  padding: 30px 30px;
  border-radius: 15px;
  position:fixed;
  display: none;
  right: 0;
  top:0;
  z-index: 999;
 
}
.is-active{

  display: flex;
  animation-name: toOpen;
  animation-duration: 1s;

}
@keyframes toOpen {
  0% {
    opacity: 0.7;
    transform: translateY(50px);

  }
  100% {
    opacity: 1;
    transform: translateY(0px);

  }
}
.is-active-search{
  display: flex;
  animation-name: toright;
  animation-duration: 1s;
}
@keyframes toright {
  0% {
    opacity: 0.7;
    transform: translateX(50px);

  }
  100% {
    opacity: 1;
    transform: translateY(0px);

  }
}
.menu--active ul{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .menu .menu-ul {
    display: none;
  }
  .auth {
    display: none;
  }
  .icon-open {
    display: inline-flex;
  }
}

/* -------------services---------------- */
.sevices-container {
  padding: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.services--show {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 30px;
}
.services--show--item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border: 0.5px solid rgba(129, 90, 90, 0.159);
  padding: 60px 60px;
  border-radius: 15px;
}
.services--show--item img {
  width: 60px;
  height: 60px;
}
.services--show--item__heading {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -1px;
  color: #120f1f;
}
.services--show--item__paragrap {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #7b88a8;
}
.services--show--title {
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  margin-top: 50px;
}
.services--show--partner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 100px;
}

@media screen and (max-width: 768px) {
  .services--show {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .services--show--partner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 50px;
  }
}

/* -----------about------------- */
.about {
  background-color: #f7f5f1;
}
.about-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 120px 0;
  gap: 30px;
}
.about--tech1 {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  justify-content: start;
  gap: 130px;
}
.about--tech1 .about--tech1--img {
  width: 470px;
  height: 720px;
  object-fit: cover;
  position: relative;
  flex-grow: 1;
}
.about--tech1--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 30px;
  margin-top: 100px;
  position: relative;
  flex-grow: 1;
}

.about--tech1--text__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about--tech1--text__item {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: start;
}
.about--tech1--text__item img {
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 1080px) {
  .about--tech1 {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .about-tech2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .about--tech1--text {
    text-align: center;
    align-items: center;
  }
  .aaa {
    text-align: start;
  }

  .about--tech1 {
    gap: 0;
    margin-top: 60px;
  }
}
@media screen and (max-width: 768px) {
  .about--tech1 {
    gap: 0;
    margin-top: 40px;
  }
}

@media screen and (max-width: 1080px) {
  .heading {
    font-size: 62px;
    line-height: 72px;
  }
  .heading2 {
    font-size: 42px;
    line-height: 52px;
  }
  .heading3 {
    font-size: 30px;
    line-height: 40px;
  }
  .heading4 {
    font-size: 14px;
    line-height: 24px;
  }
}
@media screen and (max-width: 768px) {
  .heading {
    font-size: 54px;
    line-height: 64px;
  }
  .heading2 {
    font-size: 34px;
    line-height: 44px;
  }
  .heading3 {
    font-size: 16px;
    line-height: 32px;
  }
  .heading4 {
    font-size: 14px;
    line-height: 24px;
  }
}

/* ----------page------------- */
.pages-container {
  padding: 100px 0;
  text-align: center;
}
.pages--main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px 30px;
  margin-top: 100px;
}
.pages--main--item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.page--main--item__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -1px;
  color: #4f77ff;
}
/* ---contact----- */
.contact {
  background-color: #f7f5f1;
}
.contact-container {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  align-items: center;
}
/* ---------foooter------ */
.footer {
  background-color: #292f3a;
}
.footer-container {
  padding: 80px 0 20px 0;
  display: flex;
  flex-direction: column;
}
.heading--footer {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -1px;
  color: #ffffff;
}
.paragrap--footer {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #e7e5ea;
}
.paragrap2--footer {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #e7e5ea;
}
.footer--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.footer--top__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer--top__text ul {
}
.footer--top__text ul li {
  cursor: pointer;
}
.footer--top__text ul li p:hover {
  color: rgba(138, 82, 82, 0.481);
  transition: 0.3s;
}
.footer--top__submit input {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 12px 20px;
}
.footer--bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  align-items: center;
  padding-top: 20px;
}
.footer--icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer--icon ion-icon {
  color: #ffffff;
  padding: 5px;
  border-radius: 999px;
  background-color: #4f77ff;
}
@media screen and (max-width: 768px) {
  .footer--bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
